body{
    
    background-color: rgb(247, 190, 190);
}
#headerSection{
    padding:5px ;
    

}
#headerSection h1{
    
    font-family: Cursive;

}
input{
    padding: 10px;
    border-radius:5px ;
}
#dropbox{
    padding: 10px;
    border-radius:5px ;
    width: 14%;

}
#loginbtn{
    padding: 5px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-size: 15px;

}